h1 {
  text-align: center;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Add__ItemBtn,
.Del__ItemBtn,
.Edit__ItemBtn {
  border-radius: 5px;
  border: 1px solid #898989;
  margin-left: 10px;
}
.list__Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}
